# Ignore python build artifacts.

*.egg-info/
*.pyc
*.pyo

# Ignore pyenv files.

.python-version

# Ignore virtualenv environments.

.venv*/

# Ignore dot env
*.env

# Ignore settings for various IDEs.

.idea/
.projects/
.pydevprojects/
.vscode/
.nbproject/
*.code-workspace

# Ignore OS metadata files.

.DS_Store
Thumbs.db
